In [1]:
import cv2
import numpy as np
import pandas as pd
from PIL import Image

In [2]:
img_df = pd.read_csv('img_new.csv')
print(img_df.shape)

(5460, 201)

In [3]:
img_df.head()

,depth,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col191,col192,col193,col194,col195,col196,col197,col198,col199,col200
0,9000.1,224,224,224,224,224,224,224,224,224,...,224,225,226,225,224,223,221,220,217,217.0
1,9000.2,224,224,224,224,224,224,224,224,224,...,224,225,226,225,224,223,222,221,219,219.0
2,9000.3,224,224,224,224,224,224,224,224,224,...,224,225,226,226,225,224,224,223,223,223.0
3,9000.4,224,224,224,224,224,224,224,224,224,...,224,225,226,226,225,225,225,225,225,225.0
4,9000.5,224,224,224,224,224,224,224,224,224,...,225,224,223,223,224,224,225,225,225,225.0

In [4]:
img_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5460 entries, 0 to 5459
Columns: 201 entries, depth to col200
dtypes: float64(2), int64(199)
memory usage: 8.4 MB

In [5]:
depth_arr = img_df.pop('depth').to_numpy()
img_arr = img_df.to_numpy()

img_arr.shape, depth_arr.shape

((5460, 200), (5460,))

In [6]:
img_arr = img_arr.astype(np.uint8)

In [7]:
# Convert array to Image
img = Image.fromarray(img_arr)
img.show()

In [8]:
im_color = cv2.applyColorMap(img_arr, cv2.COLORMAP_HOT)
im_color = cv2.cvtColor(im_color, cv2.COLOR_BGR2RGB)

img_color = Image.fromarray(im_color)
img_color.show()